@font-face {
    font-family: 'NanumSquareNeoLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoHeavy';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoVariable';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}

@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTLaundryGothicR';
    src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Lifegoeson/TTLaundryGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yeongdo-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.2/Yeongdo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


div, p, span, a, input {
    font-family: 'NanumSquareNeoVariable';
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
}

.container {
    padding: 30px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* top start */
.top {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    /*background-color: #C5E3FB;*/
    background: linear-gradient(to top, #AADAFD, #73BCFF, #5C93F8);
    /*background: #26A7E9 url("../images/background.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: bottom;*/
}

.univname {
    font-size: .8rem;
    font-family: 'NanumSquare Neo Light';
    color: #FAFCFE;
    line-height: 1.25rem;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 80px 0 30px;
    gap: 15px;
}

.title p {
    font-size: 7rem;
    /*font-family: 'CWDangamAsac-Bold';*/
    font-family: 'Yeongdo-Bd';
    color: #fff;
    /*text-shadow: 5px 5px #5D94F8;*/
    text-shadow: 0 0 15px #5D94F8;
    line-height: 8rem;
}

.date {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin : 40px 0px 6vw;
    width: fit-content;
    font-size: 1.2rem;
    padding: 13px 20px;
    background-color: #FAFCFE;
    color: #1766BD !important;
    font-family: 'NanumSquare Neo ExtraBold';
}

.snow-cap {
    width: 100%;
    height: 0;
    position: relative;
    z-index: 99;
}

.snow-cap img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* top end */

/* notice start */
.notice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFCFE;
    /*background: #ffffff url("../images/background2.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: bottom;*/
}

.notice .title {
    font-size: 2rem;
    font-family: 'NanumSquareNeoHeavy';
    color: #084594;
}

.notice p {
    font-family: 'NanumSquareNeoBold';
    font-size: 1.2rem;
}

.notice .red {
    font-size: .8rem;
    color: #F17872;
    margin-top: 10px;
}

.notice a {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #63A0FA;
    color: #fff;
    padding: 12px 25px;
    font-size: 1.3rem;
    margin: 30px 0;
    font-family: 'NanumSquareNeoExtraBold';
    box-shadow: #2768AF15 0 0 10px;
    transition: all .2s;
}

.notice a:hover {
    background-color: #60B4FF;
    transform: translateY(-5%);
}

.mission-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mission,
.sub-mission {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: #2768AF15 0 0 10px;
    padding: 2.5% 2%;
    background-color: #fff;
}

.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    margin: 20px 0;
    gap: 20px;
}

.mission-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mission-date p {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 1rem;
    color: #6194CB;
}

.mission-date span {
    font-family: 'NanumSquareNeo';
    font-size: .7rem;
    color: #A9BCC2;
}

.mission > img {
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mission-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.mission-desc p {
    font-family: 'NanumSquareNeoHeavy';
    font-size: 1.2rem;
}

.mission-desc span {
    font-family: 'NanumSquareNeo';
    font-size: .7rem;
    color: #999;
    margin-top: 5px;
    text-align: center;
}

.plus {
    position: relative;
    width: 150px;
    height: 150px;
}

.plus > div {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #FCCC4C;
    top: 50%;
    left: 50%;
}

.plus > div:first-child {
    transform: translate(-50%, -50%);
}

.plus > div:last-child {
    transform: translate(-50%, -50%) rotate(90deg);
}

.sub-mission-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.sub-mission {
    width: 45%;
    padding: 30px 20px;
}

.sub-mission span {
    font-size: 1rem;
    color: #000;
}

.highlight {
    font-family: 'NanumSquareNeoHeavy' !important;
    font-size: 1.2rem !important;
    color: #000 !important;
    position: relative;
    background-color: #F7F78B;
}

/* notice end */

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFCFE;
    padding: 30px;
    gap: 30px;
}

/* finder start */
.finder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.finder p {
    font-size: 2rem;
    color: #084594;
    font-family: 'NanumSquareNeoHeavy';
}

.finder-input {
    width: fit-content;
    display: flex;
    margin-top: 30px;
    box-shadow: #2768AF15 0 0 10px;
}

.finder input,
.finder button {
    text-align: center;
    height: 50px;
}

.finder input {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    width: 250px;
    padding: 15px;
    font-size: 1.2rem;
    flex-grow: 1;
    color: #333;
    font-family: 'NanumSquare Neo Bold';
}

.finder button {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 5px;
    width: 50px;
    min-width: 50px;
    background-color: #26A7E9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finder button img {
    width: 80%;
    color: #fff;
}

/* finder end */

/* result start */
.result {
    /*max-width: 600px;*/
    padding: 15px 0;
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: #2768AF15 0 0 10px;
}

.badge-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
}

@keyframes showBadge {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.badge {
    opacity: 0;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    gap: 10px;
}

.badge > p {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 1rem;
    color: #93B4CE;
}

.badge > span {
    font-family: 'NanumSquareNeo';
    font-size: .7rem;
    color: #999;
}

.badge:nth-child(1) {
    animation: showBadge 1s .2s forwards;
}

.badge:nth-child(2) {
    animation: showBadge 1s .4s forwards;
}

.badge:nth-child(3) {
    animation: showBadge 1s .6s forwards;
}

.badge:nth-child(4) {
    animation: showBadge 1s .8s forwards;
}

.badge:nth-child(5) {
    animation: showBadge 1s 1s forwards;
}

.progress-box {
    background-color: #fff;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*padding: 5px;*/
    border: 2px #ECEDF0 dashed;
    position: relative;
}

.progress-box p {
    font-family: 'yg-jalnan';
    color: #4D90EB;
    border: 1px #4D90EB solid;
    background-color: #ffffffdd;
    box-shadow: #4292C6 1px 1px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 5px;
    padding: 4px;
    font-size: 1.2rem;
    text-align: center;
    width: 60px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
}

@keyframes rotateY {
    from {
        transform: rotateY(0deg) translateY(-7%);
    }
    to {
        transform: rotateY(360deg) translateY(-7%);
    }
}

.success {
    border: 1px #C7DCEF solid;
}

.success-img {
    transform: translateY(-7%);
    transition: all 1.5s linear;
    animation: rotateY 1.5s infinite;
}

/* result end */

/* footer start */
footer {
    width: 100%;
    background-color: #FAFCFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 5px;
}

footer p {
    font-size: .6rem;
    color: #777;
}

footer img {
    margin-top: 10px;
    width: 40%;
    max-width: 200px;
}

/* footer end */
