@media (max-width: 768px) {
    .content {
        padding: 30px;
    }

    .top {
        background-size: 200%;
        padding-top: 20px;
    }

    .univname {
        font-size: .7rem;
        line-height: 1rem;
    }

    /* top start */
    .title p {
        font-size: 5rem;
        line-height: 5.5rem;
    }

    .date {
        font-size: 1rem;
        padding: 10px 20px;
        margin-bottom: 1vw;
    }

    .notice {
        background-size: 200%;
    }

    .notice .title {
        font-size: 1.5rem;
    }

    .notice p {
        font-size: 1rem;
    }

    .notice .red {
        font-size: .6rem;
        text-align: center;
    }

    .notice a {
        font-size: 1rem;
    }

    .mission-box {
        gap: 4%;
    }

    .mission {
        width: 48%;
        padding: 20px;
        margin: 2% 0;
        gap: 15px;
    }

    .mission-date p {
        font-size: .8rem;
    }

    .mission-date span {
        font-size: .5rem;
    }

    .mission-desc p {
        font-size: .9rem;
    }

    .mission-desc span {
        font-size: .6rem;
    }

    .sub-mission-box {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .sub-mission {
        width: 80%;
        padding: 20px 10px;
    }

    .sub-mission span {
        font-size: .7rem;
    }

    .highlight {
        font-size: .9rem !important;
    }

    .plus {
        width: 90px;
        height: 90px;
    }

    .plus > div {
        width: 40px;
        height: 6px;
    }

    /* top end */
    /* finder start */
    .finder p {
        font-size: 1.5rem;
    }

    .finder input,
    .finder button {
        padding: 8px;
    }

    .finder button {
        width: 50px;
    }

    /* finder end */
    /* result start */
    .badge-list {
        justify-content: center;
        gap: 10%;
    }

    .badge {
        gap: 10px;
        margin: 15px 0;
        width: 35%;
    }

    .badge > p {
        font-size: .9rem;
    }

    .progress-box {
        border: 2px #ECEDF0 dotted;
    }

    .progress-box p {
        width: 40px;
        font-size: .8rem;
    }

    .success {
        border: 1px #C7DCEF solid;
    }

    /* result end */
}
